.component-products-upsell__title {
  margin: 0 0 2rem;
}

.component-products-upsell__grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 1rem;
}

.card-product--upsell {
  cursor: pointer;
  display: grid;
  grid-template-columns: min-content 70px 1fr;
  grid-template-rows: auto;
  gap: 0.75rem;
  align-items: center;
  position: relative;
}
.card-product--upsell input[type=checkbox] {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
.card-product--upsell .fake-checkbox {
  border: 1px solid rgb(var(--color-shadow));
  color: rgb(var(--color-button-text));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 2rem;
  padding: 0.2rem;
  width: 2rem;
}
.card-product--upsell .fake-checkbox:has(:checked) {
  background: rgb(var(--color-shadow));
}
.card-product--upsell .fake-checkbox:has(:checked) svg {
  display: inline;
}
.card-product--upsell .fake-checkbox svg {
  display: none;
  fill: currentColor;
}
.card-product--upsell .card-product__media-wrapper {
  aspect-ratio: 1/1;
}
.card-product--upsell .card-product__media {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
  width: 100%;
}
.card-product--upsell .card-product__title {
  margin: 0 0 1rem;
}
.card-product--upsell .card-product__title a {
  color: inherit;
  text-decoration: none;
}
.card-product--upsell .card-product__title a:hover {
  text-decoration: underline;
}
.card-product--upsell .price-small {
  font-size: 1.2rem;
}
.card-product--upsell .price-small .price-item {
  margin: 0 0.5em 0 0;
}
.card-product--upsell .price-small.price--on-sale .price-item--regular {
  font-size: 1.4rem;
}