@use "mixins/media" as *;

.component-products-upsell {
}

.component-products-upsell__title {
  margin: 0 0 2rem;
}

.component-products-upsell__grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 1rem;
}

.card-product--upsell {
  cursor: pointer;
  display: grid;
  grid-template-columns: min-content 70px 1fr;
  grid-template-rows: auto;
  gap: 0.75rem;
  align-items: center;
  position: relative;

  input[type="checkbox"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  .fake-checkbox {
    border: 1px solid rgb(var(--color-shadow));
    color: rgb(var(--color-button-text));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 2rem;
    padding: 0.2rem;
    width: 2rem;

    &:has(:checked) {
      background: rgb(var(--color-shadow));

      svg {
        display: inline;
      }
    }

    svg {
      display: none;
      fill: currentColor;
    }
  }

  .card-product__media-wrapper {
    aspect-ratio: 1 / 1;
  }

  .card-product__media {
    height: 100%;
    object-fit: contain;
    vertical-align: top;
    width: 100%;
  }

  .card-product__title {
    // color: inherit;
    margin: 0 0 1rem;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .price-small {
    font-size: 1.2rem;

    .price-item {
      margin: 0 0.5em 0 0;
    }

    &.price--on-sale {
      .price-item--regular {
        font-size: 1.4rem;
      }
    }
  }
}
